body{
height:100%;
margin:0;
font-family:Rubik,system-ui,Arial,sans-serif;
background:#D7E6FB
}

header {
  text-align: left;
  padding: 2%;
}

header h1 {
  font-size: 4vw;
  font-weight: 800;
}

header span {
  color: #444;
}

.cards-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3%;
  padding-bottom: 5%;
  position: relative;
}

.card {
  background: #fff;
  border-radius: 10px;
  width: 14%;
  min-width: 160px;
  padding: 1%;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-3%);
}

.card h3 {
  margin: 5% 0 2% 0;
  font-size: 1.2vw;
}

.card p {
  margin: 1%;
  font-size: 1vw;
}

.card .info {
  color: #555;
}

.delete-btn {
  position: absolute;
  top: 4%;
  right: 4%;
  background: transparent;
  border: none;
  color: #999;
  font-size: 1.2vw;
  cursor: pointer;
  transition: color 0.2s;
}

.delete-btn:hover {
  color: #e33;
}

.card {
  position: relative;
}

.btn {
  margin-top: 5%;
  width: 80%;
  padding: 4% 0;
  border: none;
  border-radius: 6px;
  background: #3d3d56;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  background: #575785;
}

.add-btn {
  position: fixed;
  right: 3%;
  bottom: 5%;
  width: 5%;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 50%;
  background: #3d3d56;
  color: white;
  font-size: 2vw;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.add-btn:hover {
  background: #575785;
}

/* ====== МОДАЛЬНОЕ ОКНО ====== */
.modal {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 2%;
  border-radius: 10px;
  width: 30%;
  min-width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.modal-content input {
  width: 90%;
  padding: 1%;
  margin: 5% 0;
  font-size: 1em;
}

.modal-actions {
  display: flex;
  justify-content: space-around;
}

.modal-actions button {
  padding: 5% 10%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#saveCard {
  background: #3d3d56;
  color: #fff;
}

#closeModal {
  background: #ccc;
}

@media (max-width: 1000px) {
  .card { width: 28%; }
}
@media (max-width: 600px) {
  .card { width: 45%; }
  .btn { font-size: 3vw; }
}